.input {
  margin: 0 auto;
  width: 500px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.342);
  border-radius: 4px;
  background-clip: padding-box;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  background: rgba(148, 204, 226, 0.4);
}
